::ng-deep .mdc-button {
    color: var(--color-white) !important; 
    background-color:var(--text-dialog) !important;
}

::ng-deep #first .mdc-button {
    color: var(--text-dialog) !important; 
    background-color: #faf9fd !important;
}