<app-header></app-header>
<div class="container">
  <mat-grid-list *ngFor="let tracker of socketService.trackersSignal()" [cols]="cols" gutterSize="10px" rowHeight="1:1" class="grid">
    <div class="device block">
      <div class="device-header">
        <div>
          <span>{{ tracker.name }}</span>
          <span>{{ tracker.stationName }}</span>
        </div>
        <div>
          @let activity = (tracker?.last_activity | date:'shortTime':userTimezone);
          @if (tracker.last_activity) {
            <span>Activity over past </span>
            <span>{{ activity }}</span>
          } @else {
            <span>No activity</span>
          }
        </div>
      </div>
      <mat-card appearance="outlined" class="card">
        <mat-card-content style="flex: 1;">
          <div style="margin-bottom: 10px;" *ngFor="let event of socketService.eventsSignal()">
            <div class="time">
              @let time = (event?.created_at | date:'shortTime': userTimezone);
              @let timeAgo = (event?.created_at | timeAgo);
              @if (event.created_at) {
                <span>{{ time }}</span>
                <span>{{ timeAgo }}</span>
              } @else {
                <span>No time available</span>
              }
            </div>
            <div class="item">
              @let imageUrl = getUser(event.id_user)?.image ?? 'https://material.angular.io/assets/img/examples/shiba2.jpg';
              <img [src]="imageUrl" alt="" mat-card-avatar class="avatar" />
              <div>
                @let name = getUser(event.id_user)?.name;
                <p>{{ name }}</p>
                <p class="valid" *ngIf="!event.error_code">{{ event.state }}</p>
                <p class="error" *ngIf="event.error_code">{{event.error_code}}</p>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-footer class="footer">
          <button (click)="removeTracker(tracker.id)" mat-fab matTooltip="Delete the tracker" matTooltipPosition="above">
            <mat-icon>delete</mat-icon>
          </button>
          <button (click)="openEventDialogue(tracker)" mat-fab>
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </mat-grid-list>
  <div class="tracker">
    <p>Want to track more ac points?</p>
    <p>Just click the button below and follow along.</p>
    <button (click)="openTrackerDialogue()" mat-raised-button>
        <mat-icon>add</mat-icon>
        New Tracker
    </button>
  </div>
</div>
