::ng-deep .mdc-button {
    background-color: var(--bg-senary-color) !important;
    color: var(--color-white) !important;
}

::ng-deep .mat-mdc-fab:first-child {
    background-color: var(--bg-secondary-color) !important;
}

::ng-deep .mat-mdc-fab:last-child {
    background-color: var(--color-white) !important;
}

::ng-deep .mat-mdc-card-outlined {
    background-color: var(--bg-primary-color) !important;
}





