<div class="bg-white w-full h-full pt-20">
  <app-header></app-header>
  
  <!-- Mobile screen without the add tracker div as part of the snap -->
  <div class="md:hidden overflow-x-auto overflow-y-hidden snap-x snap-mandatory scroll-m-0 flex gap-5 px-5">
    <ng-container *ngFor="let tracker of socketService.trackersSignal()">
      <div class="snap-center min-w-[80vw] mx-2 pb-0">
        <div class="block w-full">
          <div class="flex justify-between text-sm mb-2">
            <div class="flex justify-between w-2/5 text-gray-500">
              <span class="font-medium text-xs lg:text-base">{{ tracker.name }}</span>
              <span class="text-xs lg:text-base">{{ tracker.stationName }}</span>
            </div>
            <div class="opacity-20 text-xs lg:text-base">
              <ng-container *ngIf="tracker.last_activity; else noActivity">
                <span>Activity over past </span>
                <span class="underline">
                  {{ tracker.last_activity | date:'shortTime' }}
                </span>
              </ng-container>
              <ng-template #noActivity>
                <span>No activity</span>
              </ng-template>
            </div>
          </div>
          <mat-card appearance="outlined" class="px-4 pt-0 h-full bg-(--bg-primary-color)">
            <mat-card-content class="flex-1">
              <div class="mb-4" *ngFor="let event of socketService.eventsSignal()">
                <div class="flex justify-between text-gray-500 lg:text-xl text-base mb-1">
                  <ng-container *ngIf="event.created_at; else noTime">
                    <span class="font-normal">{{ event.created_at | date:'shortTime' }}</span>
                    <span class="text-sm opacity-70 flex items-end">
                      {{ event.created_at | timeAgo }}
                    </span>
                  </ng-container>
                  <ng-template #noTime>
                    <span>No time available</span>
                  </ng-template>
                </div>
                <div class="flex justify-between items-center bg-white rounded-lg shadow-md h-1/2">
                  <img [src]="imageUrl(event.id_user)" alt="" mat-card-avatar class="ml-1 my-3">
                  <div class="w-4/5">
                    <p class="text-xl font-medium mb-1">
                      {{ getUser(event.id_user)?.name }}
                    </p>
                    <p *ngIf="!event.error_code" class="text-sm text-gray-500 opacity-70 mb-1">
                      {{ event.state }}
                    </p>
                    <p *ngIf="event.error_code" class="text-sm text-(--bg-tertiary-color) bg-(--bg-secondary-color) rounded-lg pl-2 w-2/3 h-6 flex items-center mb-1">
                      {{ event.error_code }}
                    </p>
                  </div>
                </div>
              </div>
            </mat-card-content>
            <mat-card-footer class="flex justify-between mt-4 mb-2">
              <button (click)="removeTracker(tracker.id)" mat-fab matTooltip="Delete the tracker" matTooltipPosition="above">
                <mat-icon>delete</mat-icon>
              </button>
              <button (click)="openEventDialogue(tracker)" mat-fab class="rounded-full bg-white">
                <mat-icon>add</mat-icon>
              </button>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="md:hidden flex flex-col justify-center items-center p-4 mt-5">
    <p class="text-center text-xs sm:text-sm md:text-base font-medium">
      Want to track more ac points?
    </p>
    <p class="text-center text-xs sm:text-sm md:text-base">
      Just click the button below and follow along.
    </p>
    <button (click)="openTrackerDialogue()" mat-raised-button class="mt-2 cursor-pointer">
      <mat-icon>add</mat-icon>
      New Tracker
    </button>
  </div>

  <!-- MD and above screens  -->
  <div class="hidden md:grid md:gap-5 w-full md:grid-cols-2 lg:grid-cols-4 px-5">
    <ng-container *ngFor="let tracker of socketService.trackersSignal()">
      <div class="mx-5 pb-0">
        <div class="block w-full lg:h-screen">
          <div class="flex justify-between mb-2">
            <div class="flex justify-between w-2/5 text-gray-500">
              <span class="font-medium text-xs lg:text-sm">{{ tracker.name }}</span>
              <span class="text-xs lg:text-sm">{{ tracker.stationName }}</span>
            </div>
            <div class="opacity-20 text-xs lg:text-sm">
              <ng-container *ngIf="tracker.last_activity; else noActivity">
                <span>Activity over past </span>
                <span class="underline">
                  {{ tracker.last_activity | date:'shortTime' }}
                </span>
              </ng-container>
              <ng-template #noActivity>
                <span>No activity</span>
              </ng-template>
            </div>
          </div>
          <mat-card appearance="outlined" class="px-4 pt-0 lg:h-8/10">
            <mat-card-content class="flex-1">
              <div class="mb-4" *ngFor="let event of socketService.eventsSignal()">
                <div class="flex justify-between md:w-full w-1/2 text-gray-500 lg:text-lg text-base mb-1">
                  <ng-container *ngIf="event.created_at; else noTime">
                    <span class="font-normal">{{ event.created_at | date:'shortTime' }}</span>
                    <span class="text-sm opacity-70 flex items-end">
                      {{ event.created_at | timeAgo }}
                    </span>
                  </ng-container>
                  <ng-template #noTime>
                    <span>No time available</span>
                  </ng-template>
                </div>
                <div class="flex justify-between items-center bg-white rounded-lg shadow-md h-1/2">
                  <img [src]="imageUrl(event.id_user)" alt="" mat-card-avatar class="ml-1 my-3">
                  <div class="w-4/5">
                    <p class="text-xl font-medium mb-1">
                      {{ getUser(event.id_user)?.name }}
                    </p>
                    <p *ngIf="!event.error_code" class="text-sm text-gray-500 opacity-70 mb-1">
                      {{ event.state }}
                    </p>
                    <p *ngIf="event.error_code" class="text-sm text-(--bg-tertiary-color) bg-(--bg-secondary-color) rounded-lg pl-2 w-2/3 h-6 flex items-center mb-1">
                      {{ event.error_code }}
                    </p>
                  </div>
                </div>
              </div>
            </mat-card-content>
            <mat-card-footer class="flex justify-between mt-4 mb-2">
              <button (click)="removeTracker(tracker.id)" mat-fab matTooltip="Delete the tracker" matTooltipPosition="above">
                <mat-icon>delete</mat-icon>
              </button>
              <button (click)="openEventDialogue(tracker)" mat-fab class="rounded-full bg-white">
                <mat-icon>add</mat-icon>
              </button>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </ng-container>
    <div class="hidden md:flex md:flex-col justify-center items-center p-4">
      <p class="text-center text-xs sm:text-sm md:text-base font-medium">
        Want to track more ac points?
      </p>
      <p class="text-center text-xs sm:text-sm md:text-base">
        Just click the button below and follow along.
      </p>
      <button (click)="openTrackerDialogue()" mat-raised-button class="mt-2 cursor-pointer">
        <mat-icon>add</mat-icon>
        New Tracker
      </button>
    </div>
  </div>
</div>
  
  

