<div class="bg-white w-full h-full pt-20">
  <app-header></app-header>
  <div class="mx-5 mb-6">
    <mat-grid-list gutterSize="20px" [cols]="gridCols" rowHeight="150px">
    @for (mode of modes; track mode) {
      <mat-grid-tile [ngClass]="changeBgColor(mode)" class="p-6 rounded-lg shadow-md outline-(--bg-quaternary-color) outline-1">
        <app-count class="flex flex-col w-full ml-6" [mode]="mode"></app-count>
      </mat-grid-tile>
    }
    </mat-grid-list> 
  </div>
  <div class="mx-5 flex flex-wrap gap-0">
    <div class="w-full md:w-1/2 mb-5 p-6">
      <app-user-register [state]="false"></app-user-register>
    </div>
    <div class="w-full md:w-1/2 mb-5 p-6 rounded-lg outline-1 outline-(--bg-quaternary-color) bg-(--bg-primary-color)">
      <app-users></app-users>
    </div>
  </div>
</div>