<app-header></app-header>
<mat-grid-list
  gutterSize="16px"
  rowHeight="3:1"
  cols="4"
  style="padding-top: 125px; width: 50%; margin-left: 30px"
>
  <mat-grid-tile style="background-color: lightgray">
    <app-count [mode]="1"></app-count>
  </mat-grid-tile>
  <mat-grid-tile style="background-color: lightgray">
    <app-count [mode]="2"></app-count>
  </mat-grid-tile>
  <mat-grid-tile style="background-color: lightgray">
    <app-count [mode]="3"></app-count>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list
  gutterSize="50px"
  rowHeight="1:1"
  cols="2"
  style="margin-left: 30px"
>
  <mat-grid-tile class="padding" style="background-color: lightgray; height: 50%">
    <app-user-register [state]="false"></app-user-register>
  </mat-grid-tile>
  <mat-grid-tile class="no-padding" style="height: 50%; overflow: visible;">
      <app-user-list></app-user-list>
  </mat-grid-tile>
</mat-grid-list>
